@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Roboto+Mono:wght@300&display=swap');

body{
    background-color:#151515;
    margin: 0;
    height: 1500px;
}
.container{
    
    display:grid;
    
    grid-template-rows: 1fr 7fr auto auto auto 5fr;
    grid-template-columns: 50px 4fr 50px;

    grid-template-areas:
    "menu menu menu"
    "hero hero hero"
    ". about ."
    ". skills ."
    ". projects ."
    "footer footer footer";
    height: 100%;
    width: 100%;
    row-gap: 20px;
}


*{
    border: 1px solid white;
}


.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #151515;
    padding: 10px;
    font-size: 20px;


    grid-area: menu;
}

.logo{
    margin-left: 30px;
}
.logo p{
    color: #EEEEEE;
    display: inline;
    font-size: 30px;
}

.nav{
    display: flex;
    column-gap: 40px;

    margin-right: 60px;

}
.nav a{
    text-decoration: none;
    color: #EEEEEE;

    align-self:center;
}
a:hover{
    color: #DA0037;
    transition: 0.8s;
}
.nav>a:hover::before{
    content:"<";
    color: #EEEEEE;
    transition: 0.8s;
}

.nav>a:hover::after{
    content:">";
    color: #EEEEEE;
    transition: 0.8s;
}


/*---------------------------------------------------------------------------------------*/

.hero{
    display: flex;
    flex-flow: row nowrap;
    padding:50px;
    justify-content: center;
    align-items: center;

    column-gap: 60px;
    grid-area: hero;
    /**border-bottom: 2px solid #EEEEEE;**/
}




.hero h1{
    color: #EEEEEE;
    font-size: 80px;
    margin: 0;
}
.hero p{
    color: #EEEEEE;
    margin: 0;
}

.dove img{
    height: 300px;
    width:300px;
    
    background-repeat: no-repeat;
    background-size: cover;

}




.info{
    display: flex;
    transform-style: preserve-3d;
    transform: perspective(500px) rotatey(-15deg) rotatex(0deg);
    flex-direction: column;
    width: 600px;
    row-gap: 10px;
    padding:20px;

}


/*------------------------------------------*/
.about{
    display: grid;
    background-color: #2C272E;
    grid-area: about;
    padding:30px;
    color: #EEEEEE;
    grid-template-columns: 30% 70%;
    font-family: 'Roboto Mono', monospace;
    
}

.description{
    border-bottom: 1px solid #DA0037;
    padding: 10px;
}



/*------------------------------------------*/
.skills{
    grid-area: skills;
    padding:30px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.frontend{
    background-color: #F83839;
    height: 400px;
    width:650px;
    border-radius: 25px;
}
.backend{
    background-color: #7FE5F0;
    height: 400px;
    width:650px;
    border-radius: 25px;
}



.projects{
    grid-area: projects;
    background-color: cornflowerblue;
    padding:30px;

}

.footer{
    grid-area: footer;
    background-color: cyan;
    padding:30px;

}














